.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* FOOTER */

footer {
  display: grid;
  margin: auto;
  padding: 2% 10%;
  background-color: #333333;
  color: white;
  bottom: 0;
  width: 100%;
  /* position: fixed; */

}

.footer-list .items{
  display: flex;
}

footer * {
  flex: 1;
}
.footer-list ul {
  list-style: none;
  padding-inline-start: 0px;
}

.footer-list ul {
  display: inline;
} 

.footer-list ul a {
  text-decoration: none;
  color: white;
}


/* Header */

header {
  display: flex;
  background-color: #495e57;
  padding: 0 15%;
  height: 400px;
}

.left-side, .right-side {
  display: flex;
  flex-direction: column;
}

/* Card */

.card-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  grid-template-areas:
    "card-image card-image"
    "card-title card-price"
    "card-description card-description"
    "card-link .";

  width: 350px;
  height: 100%;
  border-radius: 16px;
  background-color: #edefee;
  color: #333333;
}

.card-image {
  grid-area: card-image;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 16px 16px 0 0;
}

.card-title {
  grid-area: card-title;
  font-size: 18px;
  font-weight: bolder;
  padding: 10px 0 0 10px;
}

.card-description {
  grid-area: card-description;
  padding-left: 10px;
  font-size: 16px;
}

.card-price {
  grid-area: card-price;
  padding: 10px;
  color: #ee9972;
}

.card-link {
  grid-area: card-link;
  padding-left: 10px;
  font-weight: bolder;
  font-size: 18px;
}


/* Highlight section */

.highlight-container {
  height: 100%;
  display: grid;
  /* grid-template-rows: 1fr 5fr; */
  padding: 0 10%;
}

.highlight-left {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.highlight-left div {
  width: 200px;
  height: 75px;
}

.highlight-card-container {
  display: flex;
  justify-content: space-between;
}

.highlight-title {
  font-size: 64px;
}

.highlight-button {
  height: 50px;
  width: 175px;
  margin-top: 5%;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4ce14;
  border-radius: 16px;
}


/* Testimonial */
.t-card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 200px;
  height: 200px;
  margin: 0 2%;
  padding: 2%;
  grid-template-areas:
    "rt rt . . ."
    "r r n n n"
    ". tr tr tr .";
  background-color: #edefee;
  border-radius: 16px;
}

.rating-title {
  grid-area: rt;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.rating {
  grid-area: r;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color: #f4ce14;
  border-radius: 16px;
  box-shadow: 2px 2px #caac12;
}

.t-name {
  grid-area: n;
  padding: 20px 0 0 10px;
}

.t-review {
  grid-area: tr;
  padding-top: 40px;
  text-align: center;
}

.testimonial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
}

.testimonials-title {
  text-align: center;
  font-size: 64px;
}


/* Main */

.container {
  display: grid;
}

section {
  padding: 3% 0;
}

.hero-button {
  height: 50px;
  width: 200px;
  margin-top: 5%;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4ce14;
  border-radius: 16px;
  cursor: pointer;
}

.hero-image img{
  height: 500px;
  width: 400px;
  margin-left: auto;
  background-size: cover;
  background-position: 0 50%;
  border-radius: 16px;
}
